@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<style>
    .content-wrapper {
        padding: 30px !important;
    }

    .table-title .add-new {
        float: right;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        border-radius: 50px;
        line-height: 13px;
    }

    .table-wrapper {
        /*width: 700px;*/
        margin: 30px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
</style>

<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Department <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" onclick="showAddDepartModal()" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered data_table" id="departtable">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="adddepartModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Department</h5>
                <button type="button" class="close" onclick="CloseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="empForm">
                <input type="hidden" name="Id" id="EmpId" class="form-control">
                <input type="hidden" name="Id" id="EndPoint" value="@ViewBag.APIEndPoint" class="form-control">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <span>Name</span>
                        <input type="text" name="Name" id="Name" class="form-control">
                    </div>
                </div>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="background-color:#dd2828;" onclick="AddDepartment()">Save</button>
                <button type="button" class="btn btn-secondary" onclick="CloseModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="~/js/Department.js"></script>